<!DOCTYPE html>
<head>
<title>WikiMedia Identities Editor</title>
<link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css" rel="stylesheet">

<div class="container">
		
        	<div class="row-fluid">
		<div style="position:absolute;top:1%;width:100%;height:10%;color:#06A8FF;"><div style="position:absolute;top:25%;font-size:30px;font-family: Rockwell Extra Bold, Rockwell Bold, monospace;display:inline-block;letter-spacing:-1;font-weight:600">WikiMedia Identities Editor</div></div>


<div style="position:absolute;top:20%;left:2%">You have been successfully logged out.  <a href="http://wie.sahyadrivps.webfactional.com/editor/login/">Click here</a> to go back to the login page</div></div>
</html>
